doctype html
html
  head
    meta(charset='utf-8')
    title Mandelbrot
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    // onload="draw(-0.77568377,0.13646737,0.01)" 
    div
      p
        | Cette page utilise un algorithme simple pour générer la fractale de Mandelbrot. Il est possible de zoomer sur la fracale avec la molette de la souris, et se déplacer en maintanant le clic gauche appuyé. On peut faire varier la précision du rendement en modifiant les paramètres.
        br
        | Cliquer-droit et selectionner enregistrer permet de sauvegarder l'image sur votre ordinateur.
      canvas#fractale(width='100', height='100')
    form(name='precision')
      input#width(type='number', value='100')
      | px × 
      input#height(type='number', value='100')
      | px
      br
      input#max(type='number', value='1000')
      |  itérations au plus 
      input(type='button', onclick='drawPrecise(x_mean, y_mean, scale)', value='Augmenter la précision')
    input#ajouterLegende(type='checkbox', checked='', onclick='draw()')
    | Legende
    script(src='/javascripts/mandelbrot.js')
    script(src='/javascripts/utils.js')
